app:
  name: azure-storage-emulator-azurite
  group: backend
  container:
    image: arafato/azurite
    tag: latest
    ports:
      - containerPort: 10000
        servicePort: 10000
        name: http
    env:
      - key: "executable"
        value: blob
    resources:
      limits:
        memory: "128Mi"
      requests:
        memory: "56Mi"
  volume:
    enabled: true
    name: ccd-docker-azure-blob-data
    path: /opt/azurite/folder
