app:
  name: dm-store
  group: backend
  container:
    image: "hmctspublic.azurecr.io/dm/store"
    tag: latest
    ports:
      - containerPort: 8080
        servicePort: 80
        name: http
    env:
      - key: "S2S_NAMES_WHITELIST"
        value: sscs,divorce,ccd,em_gw,document-management-store,ccd_gw,idam-api,fpl_case_service,em_stitching_api,iac,sidam-api
      - key: "SYSTEM_USER_NAME"
        value: "dummy"
      - key: "SYSTEM_USER_PASSWORD"
        value: "dummy"
      - key: "PACKAGES_NAME"
        value: "document-management-store"
      - key: "SPRING_DATASOURCE_URL"
        value: jdbc:postgresql://ccd-shared-database:5432/evidence
      - key: "SPRING_DATASOURCE_USERNAME"
        value: "ccd"
      - key: "SPRING_DATASOURCE_PASSWORD"
        value: "ccd"
      - key: "IDAM_SECRET_KEY"
        value: "AAAAAAAAAAAAAAAA"
      - key: "STORAGEACCOUNT_PRIMARY_CONNECTION_STRING"
        value: "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azure-storage-emulator-azurite:10000/devstoreaccount1"
      - key: "STORAGE_CONTAINER_DOCUMENT_CONTAINER_NAME"
        value: "hmctstestcontainer"
      - key: "BLOBSTORE_MIGRATE_CCD_PUBLIC_KEY_REQUIRED"
        value: "false"
      - key: "BLOBSTORE_MIGRATE_CCD_PUBLIC_KEY"
        value: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDiQ//gc/G53d9dLCtf123fIYo49gUySuJuxOcw2GtieWTMSy+O7RNtsAIjVf3mCOdDNuN69tZNPEWMdaW8n11s9MwYFahtxDecyn0KIP9MvPsfSMSbxhp/f7kfbdB/H/S5eYea66JTyeJS6uNd76RdHttx0mLO30ZkRcXB25c2SIXhRYsdoeKS5GXHDdNejkQM0S/Ev94x2UunApmYHjWN1XcDhsEsAeF4WHnvYh2XiMn9vHY44AqvbWLlAmCgzaXpz8Xhl0fO7jDKSeReDyuM3UTMaiFFaxuvliGol7aIXq/aVe/miiD2SLxHZ6RxAPW80bhXrzJMTLTCqhCEhzfv someone@somewhere.sometime"
      - key: "SPRING_PROFILES_ACTIVE"
        value: "dev"
      - key: "IDAM_TESTING_SUPPORT_ENABLED"
        value: "true"
      - key: "LOGGING_LEVEL_UK_GOV_HMCTS_IDAM"
        value: DEBUG
      - key: "IDAM_USER_BASE_URI"
        value: http://sidam-api:5000
      - key: "IDAM_S2S_BASE_URI"
        value: http://service-auth-provider-api:8080
      - key: "ENABLE_AZURE_STORAGE_CONTAINER"
        value: false
      - key: "ENABLE_POSTGRES_BLOB_STORAGE"
        value: true
      - key: "ENABLE_AZURE_STORAGE_CONTAINER"
        value: "false"
      - key: "ENABLE_POSTGRES_BLOB_STORAGE"
        value: "true"

    readinessProbe:
      enabled: false
      httpGet:
        path: /health
        port: 8080
      initialDelaySeconds: 300
      periodSeconds: 30
