app:
  name: wiremock
  group: backend
  container:
    image: rodolpheche/wiremock
    tag: latest
    ports:
      - containerPort: 8080
        servicePort: 80
        name: http
    resources:
      limits:
        memory: "128Mi"
      requests:
        memory: "64Mi"
  volume:
    enabled: true
    name: ccd-docker-wiremock-data
    path: /home/wiremock
